
.board {
    margin: 0 auto;
    height: 100vh;
    background-color: #6fcaff;
}

.row
{
    display: table;
    align-content: flex-start;
    border-spacing: 10px; /*Optional*/
}

.list{
    display: table-cell;
    background-color: #c4e5ff;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    min-width: 15vw;
}

.addNewColumn{
    display: table-cell;
    background-color: #def1ff;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    min-width: 15vw;
}

.card, .addCardButton{
    text-align: left;
    width: 90%;
    min-height: 30px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
}

.addCardButton {
    text-align: center;
}